[Desktop Entry]
Name=MuPDF
Comment=Lightweight, ultra-fast GPU-accelerated PDF viewer
GenericName=PDF Viewer
Exec=mupdf -Y 1.2 %f
TryExec=mupdf
Icon=mupdf
Terminal=false
Type=Application
MimeType=application/pdf;application/x-pdf;application/epub+zip;application/oxps;image/jpeg;image/png;image/tiff;
Categories=Viewer;Graphics;
NoDisplay=false
