@import "config.rasi"

window {
    width: 220px;
    location: northeast;
    anchor: northeast;
    x-offset: -5px;
    y-offset: 5px;
    border-radius: 12px;
}

inputbar {
    enabled: false;
}

listview {
    lines: 5;
    padding: 5px;
}

element {
    padding: 10px 15px;
}

element-text {
    font: "IBM Plex Sans SmBld 13";
}
